
  <div class = "inner">
  <ul class='errors'></ul>
  <!-- ADD REMOTE TRUE TO FORM BELOW TO AJAXIFY! -->
  <%= form_for :session, url: sessions_path do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
    <div>
      <%= f.submit "Log In" %>
    </div>
  <% end %>
  </div>
