
body {
  min-height: 100%;
}

.app {
  margin-top: 80px;
}

.footer {
  position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 10px;
}

#results-content {
  min-height: 900px;
}

.navbar-fixed-top {
  min-height: 60px;
}

#top-logo {

}
