

h3.panel-title {
  font-size: 2em;
  color: white;
}

p.mission-body {
  font-size: 1.5em;
}

.panel-default>.panel-heading.mission-heading {
  background-color: #6FA85E;
}

.panel-mission {
  border-color: #6FA85E;
}

.panel-default>.panel-heading.ct101-heading {
  background-color: #337AB7;
}

.panel-default>.panel-heading.fdaprocess-heading {
  background-color: #63156C;
}

.panel-fdaprocess {
  border-color: #63156C;
}

.panel-default>.panel-heading.search-results-heading {
  background-color: #E87D2B;
}

.panel-search-results {
  border-color: #E87D2B;
}

.panel-body {
  background-color: #F5F5F5;
}

.results-title {
  padding-bottom: 10px;
}

#search-query-submit {
  margin-top: 10px;
}

.results-header-params {
  margin-right: 2px;
  margin-bottom: 2px;
}

.trials-list-content {
  background-color: white;
}

// CSS for FDA Process
.panel-icon-container {
  padding: 7px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fda-panel {
    height: 425px;
    text-align: center;
  }
  .inner-fda-panel {
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .fda-panel {
        height: 315px;
        text-align: center;
  }
  .inner-fda-panel {
        vertical-align: middle;

  }
}

// CSS for Search Form
.search-form-body {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
}

#search-query-submit {
  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
}

.footer-contact-separator {
  margin-left: 1%;
  margin-right: 1%;
}

.footer-contact-container {
  text-align: center;
}

.footer-disclaimer-container {
  text-align: center;
  margin-top: 5px;
}

@media screen and (max-width: 450px) {
  .footer-contact-separator {
    display: none;
  }
  .footer-contact-text{
    display: block;
  }
}

.pending-trials {
  margin-top: 80px;
}

p.alert-danger {
  padding: 3px;
  margin: 7px auto;
  width: 330px;
}

.trial-buttons {
  font-size: 120%;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  p.alert-danger {
    width: 100%;
  }
}
