button#search-button {
  float: right;
  margin: 18px;
}

#top-logo {
  width: 150px;
  display: inline-block;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.navbar-fixed-top {
	height: 90px;
}
