img {
  width: 80px;
  display: inline-block;
  float: right;
}
a.navbar-brand {
  display: inline-block;
}
div.navbar-header {

}

button#search-button {
  margin-right: 30px;
  margin-left: 10px;
}
