div.navbar-header {

}

button#search-button {
  margin-right: 5%;
  margin-left: 0;
  float: right;
  vertical-align: middle;
}

#top-logo {
  width: 150px;
  display: inline-block;
}

.navbar-fixed-top {
  min-height: 90px;
}

.navbar-brand {
  margin-bottom: 1.5%;
}
